.the_person
  .wrapper
    = image_tag "img_bun_mob.png"
    .describe_person
      %h1
        Узнай все о человеке
        %br/
        по фотографии
      %p
        Мы поможем узнать всю правду о скрытых чертах
        %br>/
        характера любого, попавшего в ваш объектив
      %ul.mob_link
        %li
          %a.app_store{:href => "https://itunes.apple.com/BR/app/id898291756", :target=>"_blank"}
        / %li
        /   %a.and_roid{:href => ""}
.cat_har_person
  .wrapper
    %h5 Phiz - это приложение, в котором объединились две древних науки: физиогномика и астрология. 
    %p
      Сделайте снимок или загрузите в приложение фото человека, укажите дату его рождения - и через секунду вы узнаете о нем все. Способен ли он хранить верность или будет изменять? Любит ли он рисковать? Общительный он или замкнутый? Вспыльчив или сдержан? Сможет ли он сделать карьеру и достичь успеха в бизнесе? Приложение Phiz невозможно обмануть: фото и дата рождения расскажут о человеке все, даже то, что он тщательно скрывает от окружающих. Хотите проверить? Скачайте приложение и сравните полученный результат с действительностью. Phiz способно разгадать даже то, в чем вы сами себе боялись признаться!
    %ul.har_per
      - 1.upto(3) do |i|
        %li
          = image_tag "img_har_per#{i}.png"
.ask_que
  .wrapper
    %h5 Характеристики приложения:
    %ul.accord
      %li.acc_ord
        %a.ac_cord.des{:href => ""} Приложение проводит поэтапный анализ...
        .acc_ord_in Приложение проводит поэтапный анализ загруженной фотографии, анализируя и интерпретируя отдельные части лица: лоб, надбровные дуги, глаза, нос, губы, подбородок, овал лица.
      %li.acc_ord
        %a.ac_cord.des{:href => ""} Во время физиогномической интерпретации...
        .acc_ord_in Во время физиогномической интерпретации дополнительно принимаются во внимание характеристики личности, обусловленные временем ее рождения.
      %li.acc_ord
        %a.ac_cord.des{:href => ""} Общее заключение о личности является...
        .acc_ord_in Общее заключение о личности является итогом всех предварительных этапов анализа.
      %li.acc_ord
        %a.ac_cord.des{:href => ""} Приложение не может быть использовано для...
        .acc_ord_in Приложение не может быть использовано для проведения каких бы то ни было тестирований, направленных на диагностику психического здоровья личности или ее профессиональной пригодности.
.download_now
  .wrapper
    %h5 Скачать
    %p
      Скачай и узнай все о человеке по фотографии
    %ul.mob_link
      %li
        %a.app_store{:href => "https://itunes.apple.com/BR/app/id898291756", :target=>"_blank"}
      / %li
      /   %a.and_roid{:href => ""}
/ .testimon
/   .wrapper
/     %h5 Testimonials
/     %p
/       Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
/       %br/
/       ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
/     %span Lorem ipsum, dolor sit amet
/     %ul.quote
/       %li
/         %span
/       %li
/         %span
/     %ul.thumb
/       - 0.upto(3) do |i|
/         %li
/           = image_tag "img_thumb1.png"
/ .about_team
/   .wrapper
/     %h5 About our team
/     %p
/       Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
/       %br/
/       ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
/     -1.upto(3) do |i|
/       .about_team_in
/         = image_tag "img_about_team1.png"
/         %h6 John Doe
/         %p
/           Lorem ipsum dolor sit amet, consectetur
/           %br/
/           adipiscing elit, sed do
/         %ul.soc_link
/           %li
/             %a.fb{:href => "#"}
/           %li
/             %a.in{:href => "#"}
/           %li
/             %a.tw{:href => "#"}
.contact_us
  .wrapper
    %h5=t("all.contact_us")
    %p
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
      %br/
      ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
    .send_mes
      = form_for @feedback, :url => "/send_feedback" do |f|
        %legend Send us a message
        %p
          = f.email_field :email, :placeholder => t("all.email"), :required=>true
        %p
          = f.text_field :subject, :placeholder => t("all.subject"), :required=>true
        %p.p_t
          = f.text_area :message,:wrap => "virtual"
        %p
          %input.but{:type => "submit", :value => t("all.send")}/
    .cont_det
      %h6 Contact details
      %ul
        %li
          %a.map{:href => ""} ?
        %li
          %a.tel{:href => ""} ?
        %li
          %a.mail{:href => "mailto:?"} ?