#tabs-wrapper
  .row-fluid
    %a.span2.tab.active{:href=>"/admin/articles/new"}
      = t("admin.articles.add")
    - t("api.desc_types").each do |tf|
      %a.span2.tab{:href=>"/admin/articles/?type=#{tf.first.to_s.gsub('t_','')}"}
        = tf.last


#pad-wrapper.users-list   
  .row-fluid.table{:"data-auto-controller"=>"AdminUsersController"}
    %table.table.table-hover
      %thead
        %tr
          %th.span2.sortable
            Тип      
          %th.span2.sortable
            %span.line
            = t("admin.articles.date") 
          %th.span2.sortable
            %span.line
            = t("admin.articles.desc") 
      %tbody
        - @characters.each_with_index do |item,i|
          -# Description.generated_dates[item.item_period]
          %tr{:class=>("active" if i == 0)}
            %td=t("api.desc_types.t_#{item.item_type}")
            %td=link_to Description.generated_dates[item.item_period] , edit_admin_article_path(item.id) , :class=>"name"
            %td=item.body


  .pagination.pull-right 
    = will_paginate @characters         


