#tabs-wrapper
  .row-fluid
    %a.span2.tab.active{:href=>"/admin/users"}
      = t("admin.photos.list")


#pad-wrapper.users-list   
  .row-fluid.table{:"data-auto-controller"=>"AdminUsersController"}
    %table.table.table-hover
      %thead
        %tr
          %th.span2.sortable
            = t("admin.photos.photo")    
          %th.span2.sortable
            %span.line
            = t("admin.photos.user") 
          %th.span2.sortable
            %span.line
            = t("admin.photos.created_at") 
          %th.span2.sortable
            %span.line
            = t("admin.photos.comments") 
          %th.span2.sortable
            %span.line
            = t("admin.photos.likes") 
      %tbody
        - @photos.each_with_index do |photo,i|
          %tr{:class=>("active" if i == 0)}
            %td
              = image_tag "#{request.protocol}#{request.host}#{Settings.app.image_dir}#{photo.app_user.id}/#{photo.id}/#{Settings.app.image_name}#{Settings.app.image_ext}" ,:class=>"img-circle avatar hidden-phone",:style=>"max-width: 80px;"
            %td
              = photo.app_user.name
              %br
              %span.subtext 
                = link_to "https://www.facebook.com/#{photo.app_user.fb_id}"
            %td=l(photo.created_at.to_datetime,:format=>:long)
            %td=photo.coments.count
            %td=photo.likes.count

  .pagination.pull-right 
    = will_paginate @photos         


