#tabs-wrapper
  .row-fluid
    %a.span2.tab.active{:href=>"/admin/users"}
      = t("admin.users.list")
    %a.span2.tab{:href=>"#"}
      = t("admin.users.add_edit")


#pad-wrapper.users-list   
  .row-fluid.table{:"data-auto-controller"=>"AdminUsersController"}
    %table.table.table-hover
      %thead
        %tr
          %th.span2.sortable
            = form_tag admin_users_path, :method=>:get do
              = hidden_field_tag :sort , "last_name"
              = hidden_field_tag :dir , @dir
              = t("admin.users.name")    
          %th.span2.sortable
            %span.line
            = form_tag admin_users_path, :method=>:get do
              = hidden_field_tag :sort , "email"
              = hidden_field_tag :dir , @dir
              = t("admin.users.email") 
          %th.span2.sortable
            %span.line
            = form_tag admin_users_path, :method=>:get do
              = hidden_field_tag :sort , "created_at"
              = hidden_field_tag :dir , @dir
              = t("admin.users.created") 
          %th.span2.sortable
            %span.line
            = form_tag admin_users_path, :method=>:get do
              = hidden_field_tag :sort , "last_activity"
              = hidden_field_tag :dir , @dir
              = t("admin.users.last_activity") 
          %th.span2.sortable
            %span.line
            = form_tag admin_users_path, :method=>:get do
              = hidden_field_tag :sort , "active"
              = hidden_field_tag :dir , @dir
              = t("admin.users.active") 
          %th.span2.sortable
            %span.line
              = t("admin.users.penalties") 
      %tbody
        - @users.each_with_index do |user,i|
          %tr{:class=>("active" if i == 0)}
            %td
              - unless user.avatar.nil?
                = image_tag user.avatar ,:class=>"img-circle avatar hidden-phone"
              = link_to "#{user.name}" , edit_admin_user_path(user.id) , :class=>"name"
            %td
              %span.subtext 
                = link_to "Faceebook" ,"https://www.facebook.com/#{user.fb_id}"
            %td=l(user.created_at.to_date,:format=>:long)
            %td = user.last_activity.nil? ? "" : l(user.last_activity.to_datetime,:format=>:long)
            %td{:class=>"_user_active_#{user.active}"}=t("admin.users.active_#{user.active}")
            %td=user.photos.count
  .pagination.pull-right 
    = will_paginate @users         


